@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Roboto", sans-serif;
}

.skeleton {
    animation: skeleton-loading 1s linear infinite alternate;
  }
  
  @keyframes skeleton-loading {
    0% {
      @apply text-base-content 
    }
    100% {
      @apply text-base-300
    }
  }

@layer components {
    .title-homepage-l {
        @apply text-[150px];
        font-family: "Roboto", sans-serif;
    }

    .title-homepage-m {
        @apply text-[125px];
        font-family: "Roboto", sans-serif;
    }

    .title-homepage-s {
        @apply text-[75px];
        font-family: "Roboto", sans-serif;
    }

    .title-l {
        @apply text-[100px];
        font-family: "Roboto", sans-serif;
    }

    .title-m {
        @apply text-[50px];
        font-family: "Roboto", sans-serif;
    }

    .title-s {
        @apply text-[15px];
        font-family: "Roboto", sans-serif;
    }

    .text-homepage-l {
        @apply text-[50px];
        font-family: "Roboto", sans-serif;
        line-height: 1em;
    }

    .text-homepage-m {
        @apply text-[33px];
        font-family: "Roboto", sans-serif;
    }

    .text-homepage-s {
        @apply text-[17px];
        font-family: "Roboto", sans-serif;
    }

    .text-l {
        @apply text-[33px];
        font-family: "Roboto", sans-serif;
        line-height: 1em;
    }

    .text-m {
        @apply text-[22px];
        font-family: "Roboto", sans-serif;
    }

    .text-s {
        @apply text-[11px];
        font-family: "Roboto", sans-serif;
    }


    .btn-main {
        @apply rounded-xl
        p-3
        uppercase
        bg-primary
        text-base-content;
    }

    .btn-main:hover {
        @apply bg-secondary;
        cursor: pointer;
    }

    .align-bottom-right {
        position: absolute;
        margin-bottom: -80px;
        bottom: 0;
        right: 0;
    }

    .align-top-left {
        position: absolute;
        top: 0;
        left: 0;
    }

    .align-center {
        margin: auto;
        width: 50%;
    }

    .modal-bg {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 60;

        background-color: rgba(0, 0, 0, 0.5);

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bus-modal {
        position: relative;
        background: white;
        opacity: 100%;
        padding: 50px 100px;
        border-radius: 5px;
        box-shadow: 0 10px 5px 2px rgba(0, 0, 0, 0.1);
        z-index: 70;
        visibility: visible;
    }

    .bus-modal .btn-close {
        position: absolute;
        top: 10px;
        right: 10px;
        background: none;
        border: none;
        cursor: pointer;
    }

    .cardDisplay {
        margin-top: 0px;
    }

    .banner {
        position: relative;
    }

    .tag {
        position: absolute;
        z-index: 10;
        font-family: "Roboto", sans-serif;
        left: 50%;
        top: 50%;
        transform: translateY(+150%) translateX(-25%);
    }

    .textarea {
        resize: none;
    }
}